
*{
    margin: 0;
    padding: 0;
    }




.a1{
    width: 100%;
    position: relative;
    content:"";
    z-index: -1;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgb(255, 255, 255);
}



.a1-1{
  position:relative;
  width:100%;
  display:flex;
  height:120vh;
  overflow:hidden;
}

.a1-1:before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background: #5823A4FF;  
background: -webkit-linear-gradient(to right, #5823A4FF,#5823A4FF);  
background: linear-gradient(to right, #5823A4FF,#5823A4FF); 
  border-radius:0 0 50% 50%/0 0 100% 100%;
  transform:scaleX(1.5);
}


.a1-6{
display: inline-flex;
justify-content: space-around;
width: 100%;
height: 100px;
z-index: 1;
text-align: center;
color: white;
flex-wrap: wrap;
margin-top: 40px;

}

.a1-a1>h6{
margin-top: 20px;
}




.a1-7{
width: 316px;
height: 47px;
background: #5850EC;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.a1-8{
    width: 316px;
    height: 47px;
    background: #5850EC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    


.a1-7>h4{
    margin-top: 8px;

}
.a1-8>h4{
    margin-top: 8px;

}

.secure{
    display: flex;
    position: absolute;
    margin-top: 160px;
    flex-direction: row;
    flex-wrap: wrap;
}

.a1-12{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top:400px;
    flex-wrap: wrap;
}

.a1-13{
display: flex;
position: absolute;
width: 507px;
height: 104px;
margin-top: 430px;
background: #5850EC;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.a1-14{
position: absolute;
width: 431px;
height: 28px;
top: 590px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;

}
.welcome{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 120px;
    
}


.welcome>div{
    width: 600px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    
}




.div-p{
width: 100%;
font-size: 26px;
font-family: 'Vazirmatn', sans-serif;
}

.div-p2{
    width: 100%;
    font-size: 26px;
    }

.h3{
text-align: left;
font-family: 'Vazirmatn', sans-serif;

}

.span1{
    width: 310px;
    height: 25px;
    background-color: #D9D9D9FF;
    top: 40px;
    
}



.h3-div{
   margin-top:20px;
}

.h3-1{
    font-family: 'Vazirmatn', sans-serif;
    font-size: 43px;
    
}

.img {
    width: 400px;
    height: 280px;
    margin-top: 7%;

  }

  .a1-3{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:right;
    
    
}
.a1-4{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:left;
    justify-content: flex-start;
    margin-top: -150px;
    z-index: -1;
    
    
}
 
.img2{
    position: relative;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;

    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.a3{
    position: relative;
    width: 100%;
    height: 800px;
    background-color: #CDEDFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.img3{
width: 550px;
height: 480px;

}

.a4{
    position: relative;
    width: 100%;
    height: 450px;
    background-color:#2A2A2AFF ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    
}

.a4>div{
    width: 150px;
    height: 150px;
    background-color: #D9D9D9FF;
    justify-content: center;
    align-items: center;
    margin: 25px;
    border-radius: 20px;
    position: relative;
}

.a4img{
    
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    top:40%;
}
.a4-h2{
    position: absolute;
    display: flex;
    flex-direction: row;
    color: aliceblue;
    top:14%;
    
}

.a4-3{
   
    width: 200px;
    height: 600px;
    display: flex;
    flex-direction: row;
    margin: 25px;
    color: aliceblue;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}

.a4-3>h5{
    margin-top: 160px;
}



.a5{
    width: 100%;
    height: 680px;
    background-color: #FFFFFFFF;
}

.a5-h1{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    margin-top: 40px;
}

.a5-2{
    position: absolute;
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    left: 0;
    right: 0;
    margin: auto;
    
}


.a5-2>img{
    width: 800px;
    height: 400px;
    
}

.a5-h4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    color: black;
    margin-top: 435px;
}

.a5-4{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}


.a5-h4>h4{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    
    
}

.a5-4>div{
position: relative;
width: 300px;
height: 80px;
background-color: #535353FF;
margin: 20px;
align-items: center;
text-align: center;
flex-wrap: wrap;
}

.a5-4>div>h3{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top:24px;
    color: whitesmoke;
}

.oval{
    position: absolute;
    width: 190px;
    height: 200px;
    background-color: white;
    border-bottom-right-radius: 450px;
    z-index: 1;
    
}

.a6{
    position: relative;
    width: 100%;
    background-color:#0D0D0DFF ;
    
    
    
}

.a6-h1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color:white;
    
}

.a6-h1>h1{
    margin-top: 50px;
    flex-wrap: wrap;
}

.a6-2{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;    
}

.a6-2>div{
    position: relative;
     width: 550px;
    height: 400px;
    margin: 5px;  
}

.img6{
width: 100%;
height: 390px;
}

.a6-h3{
    text-align: left;
    color: white;
    flex-wrap: wrap;
    
}

.a6-h3>div>h3{
    padding-left: 62px;
}

.checked>div{
display: inline-flex;
width: 100%;
height: 45px;
color: white;
text-align: center;
align-items: center;
}

.svg{
    width: 45px;
    height: 45px;
    border-radius: 100px;
    margin: 10px;
}

.button{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    left: 10px;
    width: 357px;
    height: 102px;
    background-color: #535353FF;
    text-align: center;
}

.button>h1{
    margin-top:25px;
}

.a6-6{
    width: 100%;
    position: relative;
    background-color:#2A2A2AFF ;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
}


.a6-6>h6{
    padding: 10px;
}

.lorems{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.lorems>div{
    height: 180px;
    margin: 30px;
   
}

.lorems>div>p{
    margin-top: 20px;
}

.a7{
    width: 220px
    
}

.a8{
    width: 200px;
}

.a9{
    width: 308px;
}

.a10{
width: 300px;
}

.l1{
    width: 220px;
font-size: 14px;
}

.l2{
    width: 200px;
font-size: 14px;
}

.l3{
    width: 308px;
 font-size: 14px;    
}

.l4{
    width: 300px;
 font-size: 14px;   
}

.p>p{
    display:inline-flex;
    flex-direction: column;
    color: white;
    margin: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.a6-end>h5{
background-color: black;
width: 600px;
position: absolute;
left: 0;
right: 0;
margin: auto;
text-align: center;
color: white;
}

.end>div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: black;
}

